* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

/*****************Default text settings*********************/

h1 {
    font-size:5.5rem;
}

h2 {
    font-size:5rem;
}

h3 {
    font-size:4.5rem;
}

h4 {
    font-size:3rem;
}

h5 {
    font-size:2rem;
    font-family: 'Lato', 'Times', sans-serif;
}

p {
    font-size:1.5rem;
    letter-spacing: 0.07rem;
    font-family: 'Lato', 'Times', sans-serif;
}

p a {
    font-size:1.5rem;
}

p em {
    font-size:1.5rem;
}

#page-intro {
    font-size:6rem;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}
/*****************Hero-image*********************/

#hero-image {

    background-image:linear-gradient(rgb(7, 7, 7), rgba(75, 73, 73, 0.05)), url("../images/highwaysmall.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

/*I learned how to set the linear gradient over a background image and to center a text box and call to action button on the following Udemy course: 
https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/ 
Though the images, linear-gradient values, and button differ from those given on the course*/

.hero-text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

    #landing-head {
        font-family: 'Lato', 'Times', sans-serif;
        font-size: 7rem;
    }
 
    #landing-sub {
        color: #fafafa;
        font-family: 'Amatic SC', sans-serif;
        font-size: 3rem;
    } 

/*****************Navbars*********************/

.navbar {
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    min-height: 2rem;
}

.navbar a {
    color: #fafafa;
    font-size: 1.75rem;
}

.navbar a:hover {
    font-size: 2rem;
}

.you-are-here {
    border: 1px solid #fafafa;
    padding: 0.5rem;
}

/*****************Footer*********************/
#homepage-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

#position-footer {
    bottom: 0;
    left: 0;
}

/*Social links adapted from Resume mini-project*/

.social-links li a i {
    width: 2.75rem;
    height: 2.75rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 0.7rem;
    text-align: center;
    color: #fafafa;
    background: #555353;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(117, 231, 117);
}

#footer-details {
    padding: 2rem;
}


/************************************ About page ***********************************/

#about-banner-image {

    background-image:linear-gradient(rgb(0, 0, 0), rgba(18, 109, 64, 0.5)), url("../images/info.jpg");
    width: 100vw;
    height: 18vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

#about-banner-image nav a {
    color: #fafafa;
    font-size: 1.75rem;
}

#about-banner-image nav a:hover {
    color: #fafafa;
    font-size: 2rem;
}

.about-text {
    margin: 0 5rem 0 5rem;
}

#quoteScreen {
    margin: 2.5rem 0 0 0;
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-bottom: 0;
    color: rgb(90, 88, 88);
    border-top: 1px solid rgb(117, 115, 115);
    border-bottom: 1px solid rgb(117, 115, 115);

}

.button-container {
    height: 10rem;
    position: relative;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size:2.5rem;
    text-align: center;
    text-transform: uppercase;
}

/************************************ Trip page ***********************************/
#trip-banner-image {
    background-image:linear-gradient(rgb(0, 0, 0), rgba(57, 128, 91, 0.5)), url("../images/roadmapsmall.png");
    width: 100vw;
    height: 18vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

#trip-banner-image nav a {
    color: #fafafa;
    font-size: 1.75rem;
}

#trip-banner-image nav a:hover {
    color: #fafafa;
    font-size: 2rem;
}

.trip-heading {
    margin: auto;
    width: 50%;
    text-align: center;
}

#map {
    height: 60rem;
    width: 100%;
    margin: auto;
}

#destinations-list {
    width: 100%;
    margin: auto;
}

#destinations-list li {
  list-style: none;
  font-size:1.5rem;
  letter-spacing: 0.07rem;
  font-family: 'Lato', 'Times', sans-serif;
  color: black; 
}

.map-embed {
    width: 100%;
    height: 40rem; 
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/************************************ Music page ***********************************/
#music-banner-image {
    background-image:linear-gradient(rgb(0, 0, 0), rgba(18, 109, 64, 0.5)), url("../images/music1.png");
    width: 100vw;
    height: 18vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

#music-banner-image nav a {
    color: #fafafa;
    font-size: 1.75rem;
}

#music-banner-image nav a:hover {
    color: #fafafa;
    font-size: 2rem;
}

#song {
    width: 50%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

#jukebox {
    display: block;
    width: 45%;
    height: 35rem;
    margin: auto;
    border: 1rem solid black;
}

/************************************ Game page ***********************************/
#game-banner-image {
    background-image:linear-gradient(rgb(0, 0, 0), rgba(26, 26, 26, 0.4)), url("../images/gaming.png");
    width: 100vw;
    height: 18vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

#game-banner-image nav a {
    color: #fafafa;
    font-size: 1.75rem;
}

#game-banner-image nav a:hover {
    color: #fafafa;
    font-size: 2rem;
}

/************************************ Contacts page ***********************************/
#contact-banner-image {
    background-image:linear-gradient(rgb(0, 0, 0), rgba(1, 20, 7, 0.45)), url("../images/mail.png");
    width: 100vw;
    height: 18vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

#contact-banner-image nav a {
    color: #fafafa;
    font-size: 1.75rem;
}

#contact-banner-image nav a:hover {
    color: #fafafa;
    font-size: 2rem;
}


/************************************ Media queries ***********************************/

@media only screen and (min-width:80rem) {
    .hero-text-box {
        position: absolute;
        top: 19.25%;
        left: 24%;
    }

    #landing-head {
        font-size:6.5rem;
    }

    #landing-sub {
        font-size: 6rem;
        border: none;
    }

    .navbar {
        min-height: 0.8rem;
        position: absolute;
        top: 5%;
        left: 60%;
    }
    .navbar a {
        font-size: 3.5rem;
        word-spacing: 1.5rem;
    }

    .navbar a:hover {
        font-size: 5rem;
    }

    p {
    font-size:2.25rem;
    }

    p a {
    font-size:2.5rem;
    }

    h5 {
    font-size:2.5rem;
    }

    #about-banner-image, 
    #music-banner-image, 
    #trip-banner-image, 
    #game-banner-image,
    #contact-banner-image {
        height: 38vh;
    }

    #about-banner-image nav a {
    font-size: 3.25rem;
    }

    #about-banner-image nav a:hover {
    font-size: 4.5rem;
    }

    #music-banner-image nav a {
    font-size: 3.25rem;
    }

    #music-banner-image nav a:hover {
    font-size: 4.5rem;
    }

    #trip-banner-image nav a {
    font-size: 3.25rem;
    }

    #trip-banner-image nav a:hover {
    font-size: 4.5rem;
    }

    #game-banner-image nav a {
    font-size: 3.25rem;
    }

    #game-banner-image nav a:hover {
    font-size: 4.5rem;
    }

    #contact-banner-image nav a {
    font-size: 3.25rem;
    }

    #contact-banner-image nav a:hover {
    font-size: 4.5rem;
    }

}
    