/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

/*****************Default text settings*********************/

h1 {
    font-size:5.5rem;
}

h2 {
    font-size:5rem;
}

h3 {
    font-size:4.5rem;
}

h4 {
    font-size:3rem;
}

h5 {
    font-size:2rem;
    font-family: 'Lato', 'Times', sans-serif;
}

p {
    font-size:1.5rem;
    letter-spacing: 0.07rem;
    font-family: 'Lato', 'Times', sans-serif;
}

p a {
    font-size:1.5rem;
}

p em {
    font-size:1.5rem;
}

.intro {
    font-size:6rem;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

.btn {
    font-size:2.5rem;
    text-align: center;
    text-transform: uppercase;
}

/*****************Hero-image*********************/

#hero-image {

    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(7, 7, 7)), to(rgba(75, 73, 73, 0.3))), url("../images/highwaysmall.png");

    background-image:-o-linear-gradient(rgb(7, 7, 7), rgba(75, 73, 73, 0.3)), url("../images/highwaysmall.png");

    background-image:linear-gradient(rgb(7, 7, 7), rgba(75, 73, 73, 0.3)), url("../images/highwaysmall.png");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    
}

/*I learned how to set the linear gradient over a background image and to center a text box and call to action button on the following Udemy course: 
https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/ 
Though the images, linear-gradient values, and button differ from those given on the course*/

.hero-text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

    #landing-head {
        font-family: 'Lato', 'Times', sans-serif;
        font-size: 7rem;
    }
 
    #landing-sub {
        color: #fafafa;
        font-family: 'Lato', 'Times', sans-serif;
        font-size: 2.5rem;
    } 
/*****************Navbars*********************/

#home-nav a {
    color: #fafafa;
    font-size: 1.5rem;
}

#home-nav a:hover {
    border: 1px solid #fafafa;
}


.banner-image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(54, 56, 54, 0.5))), url("../images/stars.png");
    background-image: -o-linear-gradient(rgb(0, 0, 0), rgba(54, 56, 54, 0.5)), url("../images/stars.png");
    background-image: linear-gradient(rgb(0, 0, 0), rgba(54, 56, 54, 0.5)), url("../images/stars.png");
    width: 100vw;
    height: 30vh;
    background-size: 100% 100%;
    margin-bottom: 1.5rem; 
}

.banner-image nav {
    position: relative;
    top: 10%;
}

.banner-image nav a {
    color: #fafafa;
    font-size: 2rem;
}

.banner-image nav a:hover {
    border: 1px solid #fafafa;
}

.banner-text-box {
    position: relative;
    top: 32%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

#banner-head {
    font-family: 'Lato', 'Times', sans-serif;
    font-size: 3rem;
}
 
#banner-sub {
    color: #fafafa;
    font-family: 'Lato', 'Times', sans-serif;
    font-size: 1rem;
} 

.navbar {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    margin-top: 2.5rem;
}



/*****************Footer*********************/
#homepage-footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

#position-footer {
    bottom: 0;
    left: 0;
}

/*Social links adapted from Resume mini-project*/

.social-links li a i {
    width: 2.75rem;
    height: 2.75rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 0.7rem;
    text-align: center;
    color: #fafafa;
    background: #555353;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(117, 231, 117);
}

#footer-details {
    padding: 2rem;
}


/************************************ About page ***********************************/

.about-text {
    margin: 3rem 5rem 3rem 5rem;
}

.embed-responsive {
  width: 70%;
  height: 70%;
  margin: 3rem auto 2rem auto;
}

/************************************ Quotes page ***********************************/

#quoteScreen {
    margin: 2.5rem 0 0 0;
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding-bottom: 0;
    color: rgb(90, 88, 88);
    border-top: 1px solid rgb(117, 115, 115);
    border-bottom: 1px solid rgb(117, 115, 115);

}

.button-container {
    height: 10rem;
    position: relative;
}

#quoteBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/************************************ Map page ***********************************/

#map {
    height: 60rem;
    width: 90%;
    margin: 2rem auto 3rem auto;
}

/************************************ Trip page ***********************************/

.trip-heading {
    margin: auto;
    width: 50%;
    text-align: center;
}

#destinations-list {
    width: 90%;
    margin: 3rem auto 3rem auto; 
   
}

#destinations-list li {
  list-style: none;
}

#destinations-list a {
font-size:1.5rem;
  letter-spacing: 0.07rem;
  font-family: 'Lato', 'Times', sans-serif;
  color: black; 
}

#destinations {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

.destination-heading {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

.map-embed {
    width: 87.5%;
    height: 40rem; 
    border: 0;
    display: block;
    margin: 2rem auto 1rem auto;
}

.map-btn {
    width: 100%;
    margin-top: 1rem;
}

.top-return {
    padding: 5%;
    margin-top: 2rem;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: rgb(15, 206, 15);
    font-size: 2rem;
}


/************************************ Music page ***********************************/

#song {
    width: 50%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

#jukebox {
    display: block;
    width: 45%;
    height: 35rem;
    margin: auto;
    border: 1rem solid black;
}

#jukeboxBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/************************************ Game page ***********************************/
.god-profile {
    border: 1.5px solid grey;
    padding: 2rem;
    width: 90%;
    margin: auto auto 3rem auto;
}

.infight-god-profile {
    border: 1.5px solid grey;
    padding: 2rem;
    width: 45%;
    margin: auto auto 2.5rem auto;
}

.god-name {
    text-align: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.image-avatar {
    width: 100%;
    height: 70%;
    margin-top: 17%;
}

.profile-text-1 {
    font-size:2.5rem;
    font-family: 'Lato', 'Times', sans-serif;
    color: black;
    margin: 1rem auto 1.5rem auto;
}

.profile-text-2 {
    color: black;
    text-decoration: none;
}

.game-img {
    width: 100%;
    height: auto;
    margin: auto;
}



.game-headline {
    font-size: 3rem;
    font-family: 'Lato', 'Times', sans-serif;
    text-align: center;
    margin: 4rem auto 3rem auto;
}

.game-instruction {
    font-size: 2.5rem;
    font-family: 'Lato', 'Times', sans-serif;
    text-transform: Uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

/************************************ Contact page ***********************************/


#contact-header {
    text-transform: uppercase;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#contact-sub {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.center-form {
    padding-top: 1rem;
    margin: 0 auto;
    max-width: 70%;
}

.form-control {
    height: calc(4rem + 2px);
}

::placeholder {
    font-size: 1.8rem;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    margin-bottom: 0.7rem;
    border-style: solid;
}


/************************************ Media queries ***********************************/

@media only screen and (min-width:1025px) {
    .hero-text-box {
        position: absolute;
        top: 16.75%;
        left: 24%;
    }

    #landing-head {
        font-size:6.5rem;
    }

    #landing-sub {
        font-size: 3rem;
        border: none;
    }

    #home-nav {
        min-height: 0.8rem;
        position: absolute;
        top: 1.5%;
        left: 55%;
    }

    #home-nav a {
        font-size: 2.75rem;
    }

    .navbar {
        margin-top: 0;
    }

    .navbar a {
        font-size: 2.5rem;
        word-spacing: 1.5rem;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }

    p {
    font-size:2.25rem;
    }

    p a {
    font-size:2.5rem;
    }

    h5 {
    font-size:2.5rem;
    }

    .banner-image {
        height: 30vh;
        position: relative;
    }

    .banner-text-box {
        position: absolute;
        top: 38%;
        left: 18%;
    }

    #banner-head {
        font-size: 4rem;
    }

    #banner-sub {
    font-family: 'AmaticSC', sans-serif;
    font-size: 2rem;
    }

    .banner-image nav {
        position: absolute;
        top: 0%;
        left: 45%;
        margin-top: 0;
    }

    .banner-image nav a {
    font-size: 2rem;
    margin-right: 1rem;
    }

    .destination-heading {
    font-size: 5.5rem;
    }

    #map {
        margin-bottom: 3.75rem;
    }

}


@media only screen and (min-width:90rem) {
    .hero-text-box {
        top: 15%;
    }
}

@media only screen and (min-width:411px) {
    .navbar {
        margin-top: 3.5rem;
    }
    .banner-image nav a {
    font-size: 2.5rem;
    }
}

@media only screen and (min-width:320px) {
    .navbar {
        margin-top: 2rem;
    }

    .banner-image {
        height: 33vh;
    }
}

@media only screen and (min-width:375px) {
    .navbar {
        margin-top: 3.5rem;
    }

}

@media only screen and (min-width:768px) {
    .navbar {
        margin-top: 3rem;
    }

    .banner-image {
        height: 25vh;
    }
    #banner-head {
        font-size: 5rem;
    }
    #banner-sub {
        font-size: 2.5rem;
    }
    .banner-image nav a {
    font-size: 3rem;
    }
}

@media only screen and (min-width:1280px) {
    .banner-text-box {
        top: 39%;
    }
}

@media only screen and (min-width:1440px) {
    .banner-text-box {
        top: 27%;
    }
}




    